<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= link_to article.title.capitalize, article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
