<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= link_to article.title.capitalize, article %>
  <% end %>
</div>

<% if user_signed_in? %>
  <div><br />
    <%= link_to "New article", new_article_path %>
  </div>
<% end %>
