<%= render @article %>

<div>
  <%= link_to "Back to articles", articles_path %> |
  <% if current_user %>
    <%= link_to "Edit this article", edit_article_path(@article) %> |
    <%= button_to "Delete this article", @article, method: :delete,
                  form: { data: { turbo_confirm: 'Are you sure?' } } %>
  <% end %>
</div>
